<!DOCTYPE html>
<html>
<head>
  <title>Airety</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '298742266870365',
        status     : true, 
        cookie     : true,
        xfbml      : true,
        oauth      : true,
      });
    };
    (function(d){
       var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       d.getElementsByTagName('head')[0].appendChild(js);
     }(document));
   </script>

   <div id="dialog">
     <div id="dialog-container"></div>
   </div>

  <div id="header">
    <div id="innerHeader">
      <h1 id="logo">Airety</h1>
      <div id="dropdown-container"></div>
    </div>
  </div>

  <div id="primaryContainer" class="nonAuth"></div>


                <div style="margin:20px">
                <% flash.each do |key, value| %>
                <div class="flash <%= key %>"><%= value %></div>
                <% end %>
                </div>

                <%= yield %>


</body>

</html>

<script id="headerDropdown-template" type="text/template">
  <a href="#" class="dropdownTrigger">
    <img class="avatar" src="{{picture.src}}">
    <h4>{{name}}</h4>
  </a>
  <ul class="dropdown">
    <li>
      <a href="/editprofile">Edit profile</a>
    </li>
    <li>
      <a href="/users/sign_out" data-method="delete">Sign out</a>
    </li>
  </ul>
</script>

<script id="homeView-template" type="text/template">
  <div class="top-container"></div>
  <div class="stream-container"></div>
</script>

<script id="registrationView-template" type="text/template">
  <div class="whiteCard headerPop">
    <h2>Learn from others through scheduled video chats</h2>
    <div class="fb-login-button">Login with Facebook</div>
    <p class="privacyNotif">We will never, ever violate your privacy.</p>
  </div>
</script>

<script id="userCardView-template" type="text/template">
  <div class="whiteCard onStream">
    <div class="imgContainer">
      {{^extended}}
      <a href="#" class="button darkShadow">Schedule a chat</a>
      {{/extended}}
      <img class="lazy" src="<%= asset_path 'grey.gif' %>" data-original="{{model.picture.src}}" width="{{model.picture.width}}" height="{{model.picture.height}}">
      <h3 class="name">{{model.name}}</h3>
    </div>
    <p class="userDescription">
      I want to help midwestern entrepreneurs gain insight of what life is like in Silicon Valley.
    </p>
  </div>
  <ul class="darkCard compressSides">
    <li class="listItem">
      <img src="">
      <div class="withImage">
        <h4 class="title">Backplane</h4>
        <p class="description">Product Engineer</p>
      </div>
    </li> 
    <li class="listItem">
      <img src="">
      <div class="withImage">
        <h4 class="title">Backplane</h4>
        <p class="description">Product Engineer</p>
      </div>
    </li> 
  </ul>
</script>

<script id="scheduleChatDialogView-template" type="text/template">
  <div class="card-column"></div>
  <div class="schedule-column whiteCard">
    <h3>Zach is probably free at the following times:</h3>
    <p>Pick all of the times that work for you. Zach will confirm one.</p>
    <form id="schedule-slots-form">
      <ul class="scheduleSlots">
        <li>
          <span class="checkboxContainer">
            <input name="slot" type="checkbox">
          </span>
          <span class="day">Monday, April 21st</span>
          <span class="time">9:00PM</span>
        </li>
      </ul>
      <div class="textAreaWrap">
        <textarea name="why" placeholder="Why do you want to talk to Zach?"></textarea>
      </div>
      <div>
        <a class="button">Send chat request</a>
      </div>
    </form>
  </div>
</script>
